%hr
.text-center.top10#pledge-contribution
  - pledge = current_attendee.pledge_for(campaign)
  - if pledge
    = render 'pledges/contributed', campaign: campaign, pledge: pledge
  - else
    - if campaign.closed?
      %strong= t 'pledges.form.closed'
    - else
      .row
        .col-xs-12
          = render 'pledges/payment_form',
            campaign: campaign,
            action: pledges_path(campaign.id),
            amount_cents: campaign.minimum_pledge_cents,
            title: campaign.name,
            description: t('.payment_description'),
            email: current_user.email,
            image_path: nil