%hr
.text-center.top10#pledge-contribution
  - pledge = current_attendee.pledge_for(campaign)
  - if pledge
    = render 'pledges/contributed', campaign: campaign, pledge: pledge
  - else
    - if campaign.not_open_yet?
      %strong= t 'pledges.form.not_open_yet', starts_at: campaign.starts_at
    - elsif campaign.closed?
      %strong= t 'pledges.form.closed'
    - else
      .row
        .col-xs-12
          = render 'pledges/payment_form',
            campaign: campaign,
            update_action: pledge_path(id: campaign.id, pledge_id: @pledge.id),
            charge_action: charge_pledge_path(id: campaign.id, pledge_id: @pledge.id),
            amount_cents: campaign.minimum_pledge_cents,
            title: campaign.name,
            description: t('.payment_description'),
            email: current_user.email,
            image_path: nil