%hr
  .text-center.top10
    - if current_attendee.pledged?(campaign)
      = render 'pledges/contributed', campaign: campaign
    - else
      = render 'layouts/stripe_checkout_form',
        campaign: campaign,
        action: pledges_path(campaign.id),
        amount_cents: campaign.recommended_pledge_cents,
        title: campaign.name,
        description: t('.payment_description'),
        email: current_user.email,
        image_path: nil
