= form_for(campaign, url: submit_campaign_draft_path(campaign), method: :post, class: 'form-horizontal') do |f|
  = form_fields(f, 'campaign_drafts.submit_form') do |field|
    %hr
    = field.(:submit)
