- venue_capacity = capture do
  .venue-capacity.f13{style: 'margin-top: 3px'}
    %strong
      %span#venue-capacity-indicator

:ruby
  selected_id ||= nil
  select_options = {as: :select, values: Venue.for_select, only_input: true, after: venue_capacity, form_group_class: 'm0'}
  select.merge!(selected: selected_id) if selected_id

.col-xs-2
  = field.(:venue_id, as: :select, values: [], only_label: true)
.col-xs-6.right
  = field.(:venue_id, select_options)
.col-xs-4.right
  = link_to(t('venues.form.other'), '#', class: 'btn btn-info btn-xs', "data-toggle" => 'modal', 'data-target' => "##{new_venue_form_modal_id}")