:markdown
  ## FAQ (for event promoters)
  *Please read first: [General FAQ](#{page_path(id: 'attendees/faq')})*
  
  ### Why would I organise my event through Estiu?
  
  Our core proposition for event promoters is the ability to organise **100% risk free events**.
  
  As of today, event promotion is a high-cost, high-risk, low-profit activity, especially for high-quality events.
  
  Every season, new club nights or agencies are born just to die a few weeks after. These events fail to attract enough people, make enough profit, and so on.
  
  We want to make it easy for you to create **exceptional events without risking anyone's money**.
  
  Our sophisticated crowdfunding platform and contact network will let you work on the fun part, while we do the heavy lifting.
  
  ### I want to lauch a Campaign, what do I do?

  First, **[sign up](#{event_promoters_sign_up_path})** for a event promoter account. Note that attendees and event promoters use different sign up forms.

  If you already signed up, but with an attendee account, please create a new one for your event promoter activity. Event promoters can do anything that attendees can.
  
  Then you will be able to **create a campaign** using our simple form. You can save a draft, leaving submission for later, so you can learn what information do we ask in advance (goal, venue, and more).
  
  Once you submit the campaign for review, we will **approve** or **reject** it.
  
  ### I don't know the exact costs/details for organizing an event
  
  Naturally, not everyone is a seasoned event promoter, so maybe you don't know all the details and costs involved in organising an event.
  
  Note that an accurate campaign goal is a **requirement** for campaigns to be approved.
  
  **We can help you with that**. We are partners with a number of venues, professional audio providers, and so on, so we can help you getting the right contacts, estimating a realistic campaign goal, etc.
  
  Simply **[sign up](#{event_promoters_sign_up_path})** and you'll find help through the app!
  
  ### My campaign has been approved, now what?
  
  Approved campaigns are **made public** on the date you specified (typically immediately, but can be later).
  
  The registered Estiu users may discover or be notified of this campaign. You also may share the campaign with your friends, fans, etc.
  
  Note that strong promotion of campaigns over email / social networks is **forbidden**. We don't want to be associated with spammy or persistent promoters.
  
  We put maximum effort in making the campaigns/events **naturally viral/attractive**, so you shouldn't need much promotion. In any case, you'll never lose money, so there isn't much to lose if the campaign doesn't succeed. So please don't over-promote.
  
  Once the campaign is live, attendees will pay for supporting the campaign, **until the goal is reached**. Overfunding is not possible.
  
  ### My campaign has reached its goal!
  
  After campaign fulfillment, you are obligated to arrange **contracts** with your venue/sound/etc providers (if you didn't yet), and to facilitate to us the corresponding **invoices**.
  
  We will pay the invoices **directly to each provider**, and only if all of them are complete.
  
  In other words, you will not be transferred the collected campaign money.
  
  However, **you can be the recipient of one of the invoices**. In other words: to claim your profit from a campaign, create one invoice reflecting so.
  
  This 'profit' invoice is not paid until the event is actually celebrated.
  
  ### I have a question about the campaign/event flow
  
  Successful creation of campaigns and events is a detailed process which needs collaboration from three parts: Estiu, the event promoter, and the service providers.
  
  Naturally you may have a question about this flow. **After sign up you can contact us** for any further questions.
  
  ### Why not just use Kickstarter instead?
  
  Generic crowdfunding platforms aren't designed for events, much less of the electronic music kind.
  
  * We can give you **guidance** for estimating the campaign goal. An accurate goal amount is key for not disappointing your attendees or losing money.
  * We offer you **contacts** for getting a venue, soundsystem, booking DJs and such.
  * We provide a **QR ticketing system** ready to use.
  * We implement **unique features aimed at event viralization**.
  * Attendees **are charged immediately for their payments**, without waiting to campaign completion.
  * Very importantly, we give attendees **a single, regulated platform** which they can trust and follow. This results in more ticket sales, and with much **less chance of chargebacks**.