- remove_button = capture do
  .float-right
    %span.glyphicon.glyphicon-remove.f12{style: 'vertical-align: middle'}

- popover_caption = "#{t('.popover1')} <br> <small> #{t('.popover2')} </small>"
- opts = {popover: {html: popover_caption, type: 'click'}} # type has to be 'click'; focus doesn't work properly for this form/field in particular.
- opts.merge!(remove_button: remove_button) unless first
= field.(:artist_path, opts)