- if should_upload_documents?
  %div{class: centered_wider}
    .alert.alert-info
      %p
        %strong
          = t '.is_draft'
      %p
        = t '.draft'

- if display_event_documents?
  = render 'upload_documents', campaign: @event.campaign

%div{class: centered_wider}
  = render 'item', event: @event, listing: false
