%h1 Promote and fund the perfect event
%hr

:markdown
  Crowdfund your event, securing 100% assistance, accessing your revenue in advance.
  
%hr
= link_to "Sign up as an event promoter", event_promoters_sign_up_path, class: 'btn btn-primary'