%div{class: centered_wider}

  %h1= t '.title'

  = t '.encouragement'

  %hr
  %h4.center
    = link_to t('.faq_cta'), page_path(id: 'event_promoters/faq')
  %hr
  .center
    = link_to t('.sign_up_cta'), event_promoters_sign_up_path, class: 'btn btn-primary'