- source = "https://github.com/vemv/gobierno"
  
:sass
  ul ul
    font-style: italic
  
:markdown
  
  ## Gobierno.app
  
  `Gobierno` es una aplicación que ofrecerá una alternativa a los sistemas tradicionales de gobierno, para conseguir una administración racional, eficiente, pública e incorruptible de nuestros ciudadanos y recursos.
  
  Esto representaría el fin de la política tal como la conocemos: no más partidos políticos, confianza desmedida en unos pocos políticos clave, falsos debates en los que sólo se pretende "ganar" más que encontrar la verdad conveniente para todos...
  
  ### Justificación
  
  **Existe una manera "de izquierdas" o "de derechas" de...**
  
    * construir hospitales, autovías, puertos?
      - No! Se debe disponer de lo necesario, ni más ni menos.
    * aprobar presupuestos, adjudicar proyectos, pagar salarios?
     - Esos y más son procesos independientes de cualquier ideología.
    * Garantizar los derechos de cada ciudadano?
      - Los derechos, una vez acordados en la ley, deben tener una única, inequívoca interpretación.
    
  **Por qué ha de tener cada ámbito regional (cada ayuntamiento, comunidad autónoma...) diferentes normas y órganos de gobierno?**
  
    * Cuánto varía la realidad, entre un pueblo y otro, como para que se rijan por normas distintas?
      - Las normativas pueden ser perfectamente únicas para todas las localidades, a la vez que lo suficientemente flexibles como para satisfacer las posibles necesidades únicas de determinadas localidades.
    * Qué necesidad real tiene cada ayuntamiento de tener su propia administración?
      - Hay pocas (o una) maneras correctas de elaborar y utilizar presupuestos. La ley puede definirlas, siendo el cuerpo administrativo de cada ayuntamiento un órgano ejecutor mínimo, comparado con la burocracia actual.
  
  **Existe alguien que entienda toda la ley española?**
  
    * Por qué existen tantas leyes? (y siguen aprobándose día a día)
      - Todos ganaríamos con un conjunto de leyes reducido al máximo razonablemente posible.
    * Por qué la ley está escrita con un vocabulario arcano e inaccesible?
      - La ley necesita ser comprensible por todos para poder ser correcta, y poder ser eficientemente aplicada y modificada.
    * Donde reside la justificación de cada ley, y de cada modificación a una ley?
      - Las leyes no pueden ser normas arbitrarias, cuya justificación no sea evidente. Ésta no puede estar escondida en debates/etc - debe estar escrita!
  
  **Cuando llegará el día en que nos gobierne un partido político con perfecto programa, ejecución y que nos arregle todos los problemas?**
  
    * Llegará a gobernarnos algún día un político perfecto, brillante e incorruptible?
      - Desde el inicio de la democracia, la gente espera implícitamente en cada votación un partido político y un lider que traigan una mejora permanente para el pueblo. Ese día nunca llegará - los humanos no son perfectos!
    * Incluso si se diera la extraordinaria circunstancia de un político o partido político perfecto, cuánto duraría su legado?
      - Es decir, a qué extraordinaria conincidencia estamos esperando? A que nos gobiernen humanos perfectos durante ilimitadas generaciones?
  
  ### Propuesta
  
  **Reducir y clarificar la ley existente.**
  
    * Se propone efectuar un proceso para simplificar vocabulario y conceptos utilizados, identificar ambiguedades y duplicidades, etc, logrando una ley libre de complejidades.
  
  **Implantar un proceso por el que se justifique cada ley, así como cada modificación a leyes existentes.**
    
    * El medio primario para almacenar/modificar leyes será digital (por supuesto, este formato será exportable a papel)
    
  **Reducir los órganos de gobierno al máximo.**
  
    * Si existen leyes y procesos aplicables para todos los ámbitos regionales, la necesidad de amplias burocracias a cada nivel regional desaparece.
    
  **Dar al ciudadano la opción de votar directa y digitalmente determinadas propuestas.**
  
    * En principio, por eficiencia, la clase política es la que debe proponer, debatir y aprobar/rechazar leyes, procesos, etc. Pero en casos puntuales (temas sensibles, etc), debe ser posible un sufragio popular inmediato y digital, con carácter vinculante.
  
  **Introducir leyes/procesos con 'fecha de caducidad'.**
  
    * El consenso no siempre es posible. En lugar de dejar que la falta de consenso deje problemas sin solución alguna, lo más razonable es dejar que la mayoría simple gane, estableciendo leyes u otros con 'fecha de caducidad': llegada esta fecha, obligatoriamente se deberán evaluar los resultados y mantener/modificar la ley acordemente.
  
  **Introducir procesos presupuestarios que hagan imposible la corrupción.**
  
    * Cuando el poder presupuestario no pertenece a ninguna persona en concreto, y cuando los procesos presupuestarios son únicos, simples, y públicos en todo el país (en lugar de dejarlos en manos de cada ayuntamiento, comunidad autónoma, etc), las posibilidades de corrupción disminuyen drásticamente: no se puede robar dinero del que no se dispone.
  
  **Dar protagonismo a la palabra escrita sobre la hablada.**
    
    * Los debates parlamentarios, ruedas de prensa, mitines, etc son poco más que un espectáculo, en las que raramente se generan ideas relevantes, y en las que suele ganar el mejor orador en lugar del mejor razonador.
    
      - Un debate moderno debe ser por escrito, libre de falacias, populismos, etc, dando oportunidad a los (partidos) políticos a generar discursos sólidos que consten formalmente una sola vez, en lugar de repetirse informalmente todas las semanas en todo tipo de ámbitos.
    
  **Dar un espíritu científico y de ingeniería a la noción de gobierno.**
    
    * No podemos seguir permitiendo que sea personal bajamente cualificado quien nos gobierne.
      - El ejemplo más claro es el de los ministros, que raramente son especialistas en su materia.
      - El progreso de la humanidad siempre ha sido empujado por avances científicos/tecnológicos - raramente políticos.
      
    * Cada ley, proceso, etc. debería poder ser justificado, analizado, o sujeto a experimentación con herramientas científicas / de ingenería: estadística, tests A/B, etc.
    
  [Código fuente del proyecto](#{source})