- source = "https://github.com/vemv/gobierno"
:markdown
  
  ## Gobierno.app
  
  `Gobierno` es una aplicación que ofrecerá una alternativa a los sistemas tradicionales de gobierno, para conseguir una administración racional, eficiente, pública e inquebrantable de nuestros ciudadanos y recursos.
  
  Su autor tiene como objetivo del fin de la política tal como la conocemos.
  
  ### Justificación
  
  **Existe una manera "de izquierdas" o "de derechas" de...**
  
    * construir hospitales, autovías, puertos?
    * aprobar presupuestos, adjudicar proyectos, pagar salarios?
    * Garantizar los derechos de cada ciudadano?
    
  **Deben los ayuntamientos de Villarriba y Villabajo tener diferentes normas y gobiernos?**
  
    * Cuánto varía la realidad, entre un pueblo y otro, como para que se rijan por normas distintas?
    * Qué necesidad real tiene cada ayuntamiento de tener su propia administración?
  
  **Existe alguien que entienda toda la ley española?**
  
    * Por qué existen tantas leyes? (y siguen aprobándose día a día)
    * Por qué la ley está escrita con un vocabulario arcano e inaccesible?
    * Donde reside la justificación de cada ley, y de cada modificación a una ley?
  
  [Código fuente del proyecto](#{source})