= stylesheet_link_tag 'home', media: 'all'

= render 'hero'
= render 'what'
= render 'why'
        
-# - if policy(Campaign).new?
-#   = link_to "New campaign", new_campaign_path, class: 'btn btn-success'
-# - else
-#   = link_to "All campaigns", campaigns_path, class: 'btn btn-primary'