%h1 Welcome!
%hr

:markdown
  Crowdfunded Events is an amazing app. Access exclusive events, invite your friends and earn discounts!

%hr

#{link_to "All campaigns", campaigns_path, class: 'btn btn-primary'}

- if policy(Campaign).new?
  :markdown
    #{link_to "New campaign", new_campaign_path, class: 'btn btn-success'}