%div{class: centered_wider}
  
  .row
    .col-xs-12.col-sm-8
      %h1.m0
        = t '.title'

  %hr
  %ul
    - @venues.each do |venue|
      %li.listing-item.bordered.p10
        = render 'item', venue: venue, listing: true
    - if @venues.empty?
      %li.listing-item.bordered.p10
        = t('.empty')