= t 'campaigns.unfulfilled.credits_popover', amount: amount
%br
%small
  = t 'campaigns.unfulfilled.credits_popover_2'
.center.top10
  = link_to(t('confirm'), create_refund_credit_pledge_path(id: campaign.id, pledge_id: pledge.id), class: 'btn btn-primary refund-action')