%p= t('.p1', campaign_link: link_to(t('.campaign_link_caption'), @campaign_url), amount: @amount).html_safe

%p= t('.p2', another_campaign_link: link_to(t('.another_campaign_link_caption'), @another_campaign_url)).html_safe

%p= t '.p3'