.markdown{class: centered_wider}
  = render_per_locale_partial 'pages/event_promoters/faq'
  - unless current_user
    %hr
    .center.bottom20
      %p.small
        = t '.sounds_good'
      = link_to t('.sign_up'), event_promoters_sign_up_path, class: 'btn btn-primary'