%hr
.alert.alert-info{style: 'color: black'}
  %p
    %strong
      = t '.event_created'
  %p
    %strong
      = t('.view_event_created', link: link_to(t('.view_event_created_link'), event_path(campaign.event))).html_safe
