%div{class: centered_wider}
  
  %h1=t '.title'
    
  - if policy(Campaign).new?
    = link_to t(".new"), new_campaign_path, class: 'btn btn-success'

  %hr
  %ul
    - @campaigns.each do |campaign|
      %li.listing-item.bordered.p10
        = render 'item', campaign: campaign, listing: true