%h1 All campaigns
  
- if policy(Campaign).new?
  = link_to "New campaign", new_campaign_path, class: 'btn btn-success'

%hr
%ul
  - @campaigns.each do |campaign|
    %li
      = render 'item', campaign: campaign, listing: true