%div{class: centered_wider}
  
  %h1
    =t(in_mine_page? ? '.title_mine' : '.title')
    %span.float-right
      - opts = {class: "btn btn-info btn-xs"}
      - if in_mine_page?
        = link_to t('.all'), campaigns_path, opts
      - else
        = link_to t('.mine'), mine_campaigns_path, opts
    
  - if policy(Campaign).new?
    .right
      = link_to t(".new"), new_campaign_path, class: 'btn btn-success'

  %hr
  %ul
    - @campaigns.each do |campaign|
      %li.listing-item.bordered.p10
        = render 'item', campaign: campaign, listing: true