= render 'item', campaign: @campaign, listing: false
%div{style: 'margin-top: 10px'}
= link_to "Sign up for joining this event", new_user_registration_path(redirect_to: request.fullpath), class: 'btn btn-success'