%div{class: centered_wider}

  = render 'item', campaign: @campaign, listing: false
  
  .top10
  
  - if user_signed_in?
    - if current_user.attendee?
      = render 'pledges/form', campaign: @campaign
  - else  
    = link_to t('.sign_up'),
      attendees_sign_up_path(user: {attendee_attributes: {entity_type_shown_at_signup: 'campaign', entity_id_shown_at_signup: @campaign.id}}),
      class: 'btn btn-success', id: 'sign-up-from-campaign'