/*
 *= require jquery-ui/datepicker
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$footer-height: 60px
  
html
  position: relative
  min-height: 100%

body
  font-size: 15px
  margin-bottom: $footer-height

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  background-color: #f5f5f5
  .container
    padding-top: 20px

#main
  padding: 0 30px
  
[readonly]
  background-color: white !important

ul 
  list-style-type: none
  padding-left: 0

.datepicker
  width: 100px

.ui-datepicker
  z-index: 10 !important
  
.show-link-title
  font-size: 32px
  color: black
  display: block

.inline
  display: inline !important

.help-block
  margin-bottom: 0
  font-size: 14px

.devise-user-form
  input:not([type="submit"])
    width: 240px

.devise-user-links a
  font-size: 13px
  color: #525252

input[type="submit"]
  min-width: 100px

a.btn
  min-width: 160px

$border-style: solid 1px #eaeaea

.bordered
  border: $border-style

.bordered-right
  border-right: $border-style

.p10
  padding: 10px

.p0
  padding: 0

.m0
  margin: 0

.mr10
  margin-right: 10px

.top10
  margin-top: 10px

.progress
  margin-bottom: 0 !important

.bold
  font-weight: bold

.white
  color: white
