/*
 *= require jquery-ui/datepicker
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$black: rgb(51, 51, 51)
$light-grey: #eaeaea
$border-style: solid 1px $light-grey

html
  position: relative
  min-height: 100%

body
  font-size: 15px
  
.navbar-header, nav.navbar ul.navbar-nav li
  border-right: $border-style

.footer
  position: absolute
  bottom: 0
  width: 100%
  background-color: #f5f5f5
  .container
    padding: 12px 0

#main
  padding: 0 30px
  
[readonly]:not(.skip-custom-readonly-styling)
  background-color: white !important

th
  border: none !important

ul 
  padding-left: 0

ul 
  list-style-type: none

.pl0
  padding-left: 0

.pl1
  padding-left: 1px
  
.pl2
  padding-left: 2px

.pl3
  padding-left: 3px

.pl5
  padding-left: 5px

.markdown ul
  padding-left: 20px
  list-style-type: disc
  li
    padding-bottom: 10px

.datepicker
  width: 100px

.ui-datepicker
  z-index: 10 !important
  
.show-link-title
  font-size: 32px
  color: $black
  display: block
  &:hover, &:focus
    text-decoration: none
    color: $black

.black
  color: $black

h1, h2, h3, h4, h5, .black-link
  a
    color: $black
    &:hover
      text-decoration: none
      color: $black

.inline
  display: inline !important

.help-block
  margin-bottom: 0
  font-size: 14px

.devise-user-form
  input:not([type="submit"])
    width: 240px

.devise-user-links a
  font-size: 13px
  color: #525252

input[type="submit"], .upload-all
  min-width: 100px

.btn, .progress
  border-radius: 0

a.btn, .submit-campaign-draft
  min-width: 160px
  &.btn-xs
    min-width: 120px

.btn-facebook
  background-color: rgb(59, 89, 152)

.light-grey
  color: $light-grey

.bordered
  border: $border-style

.bordered-right
  border-right: $border-style

.p40
  padding: 40px

.p30
  padding: 30px

.p20
  padding: 20px

.p10
  padding: 10px

.p7
  padding: 7px

.p6
  padding: 6px

.p5
  padding: 5px

.p0
  padding: 0

.m0
  margin: 0

.mr10
  margin-right: 10px

.top0
  margin-top: 0

.top5
  margin-top: 5px
  
.top10
  margin-top: 10px

.top15
  margin-top: 15px

.top20
  margin-top: 20px

.top30
  margin-top: 30px

.top40
  margin-top: 40px

.top50
  margin-top: 50px

.bottom50
  margin-bottom: 50px

.bottom0
  margin-bottom: 0

.bottom5
  margin-bottom: 5px

.bottom10
  margin-bottom: 10px

.bottom15
  margin-bottom: 15px

.bottom20
  margin-bottom: 20px

.progress
  margin-bottom: 0 !important

.bold
  font-weight: bold

.white
  color: white
  
.listing-item
  margin-bottom: 20px

.noinput
  cursor: default

.center
  text-align: center

.optional
  font-size: 12px

.left
  text-align: left

.right
  text-align: right
  
.f16
  font-size: 16px
  
.f14
  font-size: 14px
  
.f13
  font-size: 13px
  
.f12
  font-size: 12px
  
.f10
  font-size: 10px

$dark-grey: #585858

.bg-light-grey
  background-color: $light-grey

.small strong, .dark-grey
  color: $dark-grey
  *
    &:hover
      text-decoration: none
      color: $dark-grey

$padding_for_left_right_columns: 5px

.left-column
  padding-right: $padding_for_left_right_columns
  
.right-column
  padding-left: $padding_for_left_right_columns
  
.full
  width: 100% !important

.float-right
  float: right
  
.float-left
  float: left

.collection-error
  color: #a94442

.header-notification
  background-color: #DCF9E2
  border: solid 1px #dadada
  font-size: 11px
  padding: 0 4px

.unfulfilled-refund-option
  min-width: 190px !important

#do-pledge[readonly]
  background-color: #ADD2AD
  border-color: #ADD2AD
  cursor: not-allowed

.collapser
  text-decoration: none
  color: #c7c7c7
  &:hover, &:visited, &:active, &:focus
    text-decoration: none
    color: #959595

.fixed_at_bottom
  position: fixed
  bottom: 0
  z-index: 9999

.table-hover tbody tr:hover
  background-color: #eaf1ff !important
