/*
 *= require jquery-ui/datepicker
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
  font-size: 15px  

#main
  padding-left: 10px
  
[readonly]
  background-color: white !important

ul 
  list-style-type: none
  padding-left: 0

ul ul
  padding-left: 10px
  li:before
    content: "-  "
  li:last-child
    margin-bottom: 10px
    
.ui-datepicker
  z-index: 10 !important
  
.show-link-title
  font-size: 32px
  color: black
  display: block