.markdown{class: centered_wider}
  = render_per_locale_partial 'pages/attendees/faq'
  - unless current_user
    %hr
    .center.bottom20
      %p.small
        = t '.sounds_good'
      = link_to t('.sign_up'), new_registration_path(:user), class: 'btn btn-primary'