- flash.each do |type, content|
  - messages = Array(content)
  - messages.each do |message|
    %div{:class => "alert #{alert_class_for(type)} fade in"}
      %button.close{"data-dismiss" => "alert"} ×
      = message